<h1>{{ question.question_text}}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls_name:vote' question.id %}" method="POST">
{% csrf_token %}

{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text}}</label>
{% endfor %}
    <input type="submit" value="Vote">

</form>

<form action="{% url 'polls_name:addchoice' question.id %}" method="POST">
    {% csrf_token %}
    <p>새로운 선택지를 감히 만들어보세요. ^^</p>
    <input type="text" name='new_name'>
    <button type="submit">크큭.. 흑염룡이여</button>
</form>