{% load staticfiles %}
<!-- 스태틱 파일을 사용하겠다는 선언이다. css 파일을 소환할 것이다. -->


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link type='text/css' rel="stylesheet" href="{% static 'css/post_list.css' %}">
                                                <!-- static 경로에 있는 파일을 부르겠다는 의미가 된다.-->
                                                <!-- settings에서 static 설정을 마쳤다. -->

</head>
<body>
    <h1>{{ title }}</h1>      <!-- {{}} 안에 값을 넣으면 render_to_response를 통해 들어본 딕셔너리의 title 변수를 호출한다.-->
    {% for post in posts %}   <!-- {%%} 안에 파이썬 코드를 넣는다. 여기서 post만큼 for문을 돌린다. -->
    <article>
        <h4>{{post.title}}</h4>
        <p>{{post.description}}</p>
        <p>{{post.created}}</p>
    </article>
    {% endfor %}              <!-- for문을 끝내는 예약어이다. if의 경우 endif을 사용한다. -->




</body>
</html>