{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>이한영의 홈페이지에 오신것을 환영합니다</title>

  <!-- https://tutorial.djangogirls.org/ko/css/ -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/common.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/blog.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <!-- a.navbar-brand [tab] -->
        <a href="{% url 'blog:post_list' %}" class="navbar-brand">lhy's Blog</a>
      </div>

      <!-- div.collapse.navbar-collapse#main-navbar [tab] -->
      <div class="collapse navbar-collapse" id="main-navbar">
        <!-- ul.nav.navbar-nav.navbar-right [tab] -->
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li>
            <p class="text">{{ user.email }}</p>
          </li>
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-plus"></span> New post
            </a>
          </li>
          <li>
            <a href="{% url 'member:logout' %}">Logout</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'member:login' %}?next={{ request.path }}">Login</a>
          </li>
          <li>
            <a href="{% url 'member:signup3' %}?next={{ request.path }}">Signup</a>
          </li>
          {% endif %}
          <li>
            <a href="{% url 'video:search' %}">검색하기</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    {% if messages %}
    <div>
      {% for message in messages %}
        <div class="alert
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}alert-info
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}alert-warning
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}alert-danger
          {% endif %}" role="alert">
          <span>{{ message }}</span>
        </div>
      {% endfor %}
    </div>
    {% endif %}

    <div>
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>
