{% load app_filters %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form action="{% url 'video:search' %}">
        <input type="text" name="keyword">
        <button type="submit">검색</button>
    </form>


    <ul>
        <p style="float:right; display:inline-block"><a href="{% url 'video:star_list'%}">내거 보자.</a></p>
        {% for item in response.items %}
        <li>
            <p>{{ item.snippet.title }}</p>
            <p>{{ item.snippet.description }}</p>
            <p>{{ item.snippet.publishedAt|string_to_date }}</p>

            <img src="{{ item.snippet.thumbnails.default.url }}" alt="사진">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ item.id.videoId }}" frameborder="0" allowfullscreen></iframe>


            <a href="{% url 'video:add_star' %}?video_id={{ item.id.videoId }}&title={{ item.snippet.title }}&published_date={{ item.snippet.publishedAt }}&image_url={{ item.snippet.thumbnails.default.url }}">저장하기</a>


        </li>
        <hr>
        {% endfor %}
    </ul>

    {% if response.prevPageToken %}
    <a href="{% url 'video:search' %}?keyword={{ keyword }}&page_token={{ response.prevPageToken}}">이전 페이지</a>
    {% endif %}

    {% if response.prevPageToken %}
    <a href="{% url 'video:search' %}?keyword= {{ keyword }}">처음으로 가기</a>
    {% endif %}
    
    {% if response.nextPageToken %}
    <a href="{% url 'video:search' %}?keyword={{ keyword }}&page_token={{ response.nextPageToken }}">다음 페이지</a>

    {% endif %}


</body>
</html>



{% comment %}

{% endcomment %}