<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All stars!</title>
</head>
<body>
<h1 style="text-align:center"><a href="{% url 'video:search' %}">당신이 좋아하는 그때, 그것, 그맛. 그 리스트.</a></h1>
{% for star in all_stars %}
    <div style="display:inline-block; "><img src="{{ star.image_url}}"alt="그래!"></div>
    <p style="display:inline-block; vertical-align:top; "><a href="{% url 'video:star_detail' pk=star.id %}">{{ star.title }}</a></p>
    <p style="display:inline-block; ">업로드 날짜 : {{ star.published_date }}</p>
    <a href="{% url 'video:star_delete' pk=star.pk %}">
        <button>영상 삭제하기</button></a>
    <hr>
{% endfor %}
</body>
</html>