{% extends 'common/base.html' %}
{% load app_filters %}
{% load humanize %}


{% block content %}

    <div style="margin:30px;">
        <form action="{% url 'video:search' %}">
            <div style='width:80%; margin:auto;'>
                <input type="text" name="keyword" size='60' style="box-sizing:content-box; line-height: 50px; font-size:30px; width:90%; height:50px; margin:0;">
                <button type="submit" style='height:50px;box-sizing:content-box; margin:0;'>검색</button>
            </div>
        </form>
    </div>


    <ul>
        <p style="float:right; display:inline-block"><a href="{% url 'video:star_list'%}">내거 보자.</a></p>
        {% if response %}
        <p>총 {{ response.pageInfo.totalResults|intcomma }}개의 결과물</p>
        {% endif %}

        {% for item in response.items %}
        {% if item.is_exist %}
        <p>존재합니다.</p>
        {% endif %}

        <li>
            <p>{{ item.snippet.title }}</p>
            <p>{{ item.snippet.description }}</p>
            <p>{{ item.snippet.publishedAt|string_to_date }}</p>
            <p {% if item.statistics.viewCount|string_to_int > 100000 %} style="color:red";{% endif %}>
                {{ item.statistics.viewCount|intcomma }} 명이 시청함.
            </p>
            <p {% if item.statistics.likeCount|string_to_int > 1000 %} style='color:blue;'{% endif %}>
                {{ item.statistics.likeCount|intcomma }} 명이 좋아함.</p>
            <p>{{ item.statistics.dislikeCount|intcomma }}명이 싫어함.</p>


            <div style="position:relative;">
                <img src="{{ item.snippet.thumbnails.medium.url }}" alt="사진" style="position:relative; transform:translateY(-123%); ">
                <iframe style=';'width="560" height="315" src="https://www.youtube.com/embed/{{ item.id.videoId }}" frameborder="0" allowfullscreen></iframe>
            </div>
            <br>
            <a href="{% url 'video:add_star' %}?video_id={{ item.id.videoId }}&title={{ item.snippet.title }}&published_date={{ item.snippet.publishedAt }}&image_url={{ item.snippet.thumbnails.default.url }}">저장하기</a>


        </li>

        {% comment %}

        <form action="{% url 'video:bookmark_add' " method="POST">
            <input type="hidden" name="kind" value="{{ response.kind}} ">
            <input type="hidden" name="videoId" value="{{ }}">
            <input type="hidden" name="description" value="">
            <input type="hidden" name="title" value="">
            <input type="hidden" name="publishedAt" value="">
            <input type="hidden" name="path" value="{{request.get_full_path}}">
            <button type="submit"></button>
        </form>

        {% endcomment %}


        <hr>
        {% endfor %}
    </ul>

    {% if response.prevPageToken %}
    <a href="{% url 'video:search' %}?keyword={{ keyword }}&page_token={{ response.prevPageToken}}">이전 페이지</a>
    {% endif %}

    {% if response.prevPageToken %}
    <a href="{% url 'video:search' %}?keyword= {{ keyword }}">처음으로 가기</a>
    {% endif %}

    {% if response.nextPageToken %}
    <a href="{% url 'video:search' %}?keyword={{ keyword }}&page_token={{ response.nextPageToken }}">다음 페이지</a>

    {% endif %}

{% endblock content %}