{% extends 'common/base.html' %}

{% block content %}
    <div class="">
        <a href="{% url 'video:search' %}">
            <button>처음으로</button>
        </a><a href="{% url 'video:star_list' %} ">
            <button>리스트 다시 보기</button>
        </a>
    </div>
    <h2 style="text-align:center">{{ video.title }}</h2>

    <div style="width:1200px; margin:0 auto;">
        <div style="width: 50%; float:left;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.video_id }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div style="width: 50%; float:left;">
                <p style="text-align:center;">동영상 고유 식별번호 : {{video.video_id}}</p>
                <p style="text-align:center; margin-top: 20%;">업로드 날짜 : {{video.published_date}}</p>
        </div>
    </div>

{% endblock content %}